{% extends ('::base.html.twig') %}

{% block title %}{{ parent() }} - Ajout de questions{% endblock %}

{% block body %}
    <div class="container well">
        {{ form(form) }}
    </div>
{% endblock %}