{% extends ('@MoneydropFront/Default/layout.html.twig') %}

{% block title %}{{ parent() }} - Question - Edition{% endblock %}

{% block body %}

    {{ parent() }}

    <h2 class="text-info text-center">Editer une question</h2>

    {{ include('@MoneydropFront/Question/form.html.twig') }}

{% endblock %}