{% extends '@MoneydropFront/Default/layout.html.twig' %}

{% block title %}{{ parent() }} - Ajout d'un thème{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container well">
        {{ form(form) }}
    </div>
{% endblock %}