{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Ajout d'un thème{% endblock %}

{% block body %}
    <div class="container well">
        {{ form(form) }}
    </div>
{% endblock %}