{% extends ('::base.html.twig') %}
{% block title %}{{ parent() }} - Liste des thèmes{% endblock %}

{% block body %}
    <div class="container well">
        <table class="table table-bordered">
            <caption>
                <h3>Liste des différents thèmes</h3>
            </caption>
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Nombre de questions</th>
                </tr>
            </thead>

            {% for theme in themes %}
                <tr>
                    <td>{{ theme.name }}</td>
                    <td></td>
                </tr>
            {% endfor %}
                <tr>
                    <td><a href="{{ path('moneydrop_front_add_theme') }}">Ajouter un thème</a></td>
                </tr>
        </table>
        <button><a href="{{ path('moneydrop_front_parameters') }}">Retour au menu</a></button>
    </div>
{% endblock %}

