{% extends ('::base.html.twig') %}
{% block title %}{{ parent() }} - Liste des thèmes{% endblock %}

{% block body %}
    <ul>
        {% for theme in themes %}
            <li>{{ theme.name }}</li>
        {% endfor %}
            <li><a href="{{ path('moneydrop_front_add_theme') }}">Ajouter un thème</a></li>
    </ul>
    <button><a href="{{ path('moneydrop_front_parameters') }}">Retour au menu</a></button>
{% endblock %}

