{% extends ('@MoneydropFront/Default/layout.html.twig') %}
{% block title %}{{ parent() }} - Liste des thèmes{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container well">
        <table class="table table-bordered">
            <caption>
                <h3>Liste des différents thèmes</h3>
            </caption>
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Nombre de questions</th>
                </tr>
            </thead>

            {% for theme in themes %}
                <tr>
                    <td>{{ theme.name|upper }}</td>
                    <td>{{ theme.questions|length }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

