{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Classement{% endblock %}

{% block body %}

<div class="container well">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Nom du joueur</th>
            <th>Meilleur score</th>
        </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

{% endblock %}